.container {
	width: 1024px;
	margin: 0 auto;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1023px) {
	.container {
		width: 768px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: calc(100% - 25%);
	}

	.content {
		flex-direction: column;
	}
}

section{
	margin-bottom: 10px;
}

.title{
	margin-bottom: 25px;
}